<h1>Secrets</h1>
<% @secrets.each do |secret| %>
<div>
  <p><%= secret.content %></p>
  <% if secret.user == current_user %>
    <form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>
  <p><%= secret.users_liked.count %> likes</p>  
</div>
<% end %>
