<h1>Users</h1>
<form action="#">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="number" name="user_id" placeholder="User ID">
  <input type="submit" value="Fetch User">
</form>
<h3>Your Fetched User:</h3>
<div>
  <!-- This is where the user info goes -->
</div>
