<% content_for :left_column %>
<h1>Users#create</h1>
<% end %>
<% content_for :right_column %>
<p>Find me in app/views/users/create.html.erb</p>
<% end %>
<% content_for :javascript_stuff %>
alert("HEY");
<% end %>
