<% content_for :left_content do %>
<h1>New Simpsons Character</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |f| %>
    <p><%= f %></p>
    <% end 
   end %>
<form action="/characters" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="character[first_name]" placeholder="first">
    <input type="text" name="character[last_name]" placeholder="last">
    <input type="text" name="character[workplace]" placeholder="workplace">
    <input type="submit" value="Create Character">
</form>
<% end %>
<% content_for :right_content do %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate dolorum delectus inventore quis. Nostrum laudantium a, molestiae illo quo! Eveniet consectetur ratione reprehenderit similique, obcaecati cupiditate voluptatum aliquam saepe.</p>
<% end %>
